.vercel
.env
node_modules
package-lock.json
*.lock
.vscode/
.idea/
coverage
vercel_token

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/cache
install-state.gz
!yarn.lock