.vercel
.env
node_modules
package-lock.json
*.lock
.vscode/
.idea/
coverage
vercel_token

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
install-state.gz
!yarn.lock